@model Shop_System.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

</head>
<body>
    <div class="signin">
        <form class="form-signin" role="form" method="post">
            <div>@Html.TextBoxFor(m => m.USER_NAME, new { @type = "text", @class = "form-control", @placeholder = "user name", @required = true, @autofocus = true })</div>
            <div> @Html.PasswordFor(m => m.U_PASSWORD, new { @class = "form-control", @placeholder = "password", @required = true })</div>
            <button class="btn btn-lg btn-warning btn-block" type="submit">login</button>
        </form>
    </div>
</body>
</html>

